.autocomplete {
  position: absolute;
  z-index: 10;
  top: 1vh;
  left: 1vw;
  width: 99vw;
}

button {
  position: absolute;
  z-index: 10;
  top: 1vh;
  left: 31vw;
}

.show {
  position: absolute;
  right: 1vw;
}
